* {
 background-color: 		lightyellow;
 font-size: medium;
 margin: 10px;
}
h1{
    margin-top: 15px;
    text-align: center;
    color: firebrick;
}
h2{
    font-weight: 100;
}
h3{
    text-align: center;
    color: red;
}